<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Summarizer</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
        #chartContainer {
            position: fixed;
            right: 10px;
            top: 10px;
            width: 30vw; /* 1/3 width of the viewport */
            height: 45vh; /* 1/3 height of the viewport */
            background-color: rgba(255, 255, 255, 0.9); /* floating effect */
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        }
    </style>

</head>
<body>
  <div id="chartContainer" style="display: none;">
        <canvas id="sentimentChart"></canvas>
    </div>
    <div class="container">
        <h1>Transcribe, Summarize, and Analyze Sentiment</h1>
        <form id="audioForm" enctype="multipart/form-data">
            <input type="file" name="file" accept="audio/*" required>
            <button type="submit">Upload and Process</button>
        </form>

        <div id="results" style="display:none;">
            <h2>Results:</h2>
            <p><strong>Transcript:</strong> <span id="transcript"></span></p>
            <p><strong>Summary:</strong> <span id="summary"></span></p>
            <p><strong>Sentiment Breakdown:</strong> <span id="sentiment"></span></p>
            <p><strong>Overall Sentiment:</strong> <span id="overall_sentiment"></span></p> <!-- Added this line -->
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
